menu "Wi-Fi Configuration"

config WIFI_SSID
    string "Wi-Fi SSID"
    default "ssid"

config WIFI_PASS
    string "Wi-Fi Password"
    default "password"

endmenu

menu "OTA Configuration"

config GITHUB_USER
    string "Github Username"
    default "User"

config GITHUB_REPO
    string "Github Repository Name"
    default "Repo Name"

config BIN_FILENAME
    string "Filename of the firmware bin"
    default "firmware.bin"

  endmenu

